html{font-size:62.5%;}
body{
	font-size: 1.5rem;
}
.container{
	box-shadow: 0 8px 10px 10px  #888888;
}
.panel-heading{text-align: center;}
span{display: inline-block;line-height: 40px;}
.ol-style li{list-style-type: none;}